body {
    margin: 0;
    padding: 0px;
    background: #1B244A;

}

.container {
    background-image: url("pacers.jpeg");
    background-size: cover;
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px auto;
    width: 575px;
    height: 385px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.left-column {
    margin-top: 30px;
    border: 0px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-column {
    margin-top: 30px;
    border: 0px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    border: 0px solid white;
    margin: 0px;
    font-size: 40px;
    font-weight: bold;
    width: 149px;
    height: 36px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}

#home-points {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    text-align: center;
    width: 155px;
    height: 120px;
    margin-top: 20px;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    opacity: 0.8;
    border-radius: 20px;
    
}

#guest-points {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    text-align: center;
    width: 155px;
    height: 120px;
    margin-top: 20px;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    opacity: 0.8;
    border-radius: 20px;
    
}

button {
    background-color: #1B244A; 
    color: #9AABD8;
    border: 1px solid #9AABD8;
    border-radius: 4px;
    margin: 5px;
    padding: 6px;
    text-align: center;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.home-points-btn {
    
    margin-top: 10px;
    width: 155px;
    height: 45px;
    border: 0px solid red;
    text-align: center;
}

.guest-points-btn {
    
    margin-top: 10px;
    width: 155px;
    height: 45px;
    border: 0px solid red;
    text-align: center;
}

.reset-btn {
    margin-top: 10px;
    width: 155px;
    height: 45px;
    border: 0px solid red;
    text-align: center;
}